<%- include('partials/_doc') %>

<title>Quiz Attempt</title>



<body id="main-body">

  <%- include('partials/_header') %>
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>

  <main id="main_container">
    <!-- open here -->
    <form action="/results">
    <% questions.forEach(question => { %>
    <div id="quiz-box">
      <h2 id="question"><%= question.question %></h2>
      <div class="choice-container">
        <input type="radio" value= <%= question.answer1 %> class="choice-prefix">A</p>
        <label for='question.answer1' class="choice-text" data-number="1"><%= question.answer1 %></p>
      </div>
      <div class="choice-container">
        <input type="radio" value= <%= question.answer2 %> class="choice-prefix">B</p>
        <label for='question.answer2' class="choice-text" data-number="2"><%= question.answer2 %></p>
      </div>
      <div class="choice-container">
        <input type="radio" value= <%= question.answer3 %> class="choice-prefix">C</p>
        <label for='question.answer3' class="choice-text" data-number="3"><%= question.answer3 %></p>
      </div>
      <div class="choice-container">
        <input type="radio" value= <%= question.answer4%> class="choice-prefix">D</p>
        <label for='question.answer4' class="choice-text" data-number="4"><%= question.answer4 %></p>
      </div>
    </div>
    <% }) %>
    <input type="submit" value="Submit">
  </form>
    <!-- close here -->
  </main>


</body>



</html>
