<%- include('partials/_doc') %>

<title>Quiz Attempt</title>



<body id="main-body">

  <%- include('partials/_header') %>
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>

  <main id="main_box">

    <div class="question-container">
      <!-- open here -->
      <% shorturl.forEach(quiz => { %>
      <div id="quiz-box">
        <h2 id="question"><%= quiz.question %></h2>
        <div class="choice-container">
          <p class="choice-prefix">A</p>
          <p class="choice-text" data-number="1"><%= quiz.answer1 %></p>
          <input type="radio" class="quizName" name="quizName" value="1">
        </div>
        <div class="choice-container">
          <p class="choice-prefix">B</p>
          <p class="choice-text" data-number="2"><%= quiz.answer2 %></p>
          <input type="radio" class="quizName" name="quizName" value="2">
        </div>
        <div class="choice-container">
          <p class="choice-prefix">C</p>
          <p class="choice-text" data-number="3"><%= quiz.answer3 %></p>
          <input type="radio" class="quizName" name="quizName" value="3">
        </div>
        <div class="choice-container">
          <p class="choice-prefix">D</p>
          <p class="choice-text" data-number="4" ><%= quiz.answer4 %></p>
          <input type="radio" class="quizName" name="quizName" value="4">
        </div>
        <div class="quiz-result"><%= quiz.result %></div>
      </div>
    <% }) %>

  </div>
    <!-- close here -->
  </main>


</body>



</html>