<%- include('partials/_doc') %>

<title>Home Page</title>

<body id="main-body">
  <%- include('partials/_header') %>
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>
  <main id="main_container">

    <div class="main-section">
      <h3>MY PRIVATE QUIZZES</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Quiz Url</th>
            <th scope="col">Number Of Users Attempted</th>
            <th scope="col"></th>
          </tr>
        <tbody style="margin: 1em;">
            <%for (let quiz of quizzes) {%>
          <tr>
            <% if(quiz.is_private === true){ %>
            <td> <%= quiz.id %></td>
            <td><a href="#"> <%= quiz.short_url %></a></td>
            <td><%= number %> </td>
            <td>
              <form method="GET" action="/attemptQuiz">
                <button class="btn-attempt" type="submit">Attempt Quiz</button>
              </form>
            </td>
          </tr>
          <% } %>
         <% } %>
        </tbody>
        </thead>
      </table>


      <div class="added_users"></div>

    </div>
  </main>

  <%- include('partials/_footer') %>

</body>

</html>