<%- include('partials/_doc') %>

<title>Home Page</title>

<body id="main-body">
  <%- include('partials/_header') %>
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>
  <main id="main_container">

    <div class="main-section">
      <h3>MY CREATED QUIZZES</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Quiz Id</th>
            <th scope="col">Quiz Url</th>
            <th scope="col">Quiz Status</th>
            <th scope="col">TRY THE QUIZ</th>
          </tr>
        <tbody style="margin: 1em;">
          <%for (let quiz of quizzes) {%>
          <tr>
            <td> <%= quiz.id %></td>
            <td><a href="#"> <%= quiz.short_url %></a></td>
            <% if(quiz.is_private === true){ %> <td> Private</td>
            <% } else { %> <td> Public </td>
            <% } %>
            <td>
              <form method="GET" action="/attemptQuiz/<%= quiz.short_url %>">
                <button class="btn btn-primary btn-lg" type="submit">Attempt Quiz</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
        </thead>
      </table>


      <div class="added_users"></div>

    </div>
  </main>

  <%- include('partials/_footer') %>

</body>

</html>
