<%- include('partials/_doc') %>

<title>RESULTS</title>

<body id="main-body">
  <%- include('partials/_header') %>
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>

  <div class="result">
    <h1><%= result.score %> </h1>
    <h1>4</h1>
    <h2><%= msg %> </h2>
  </div>

  <%- include('partials/_footer') %>

</body>

</html>
